#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search-div {
  width: 70%;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;

  .hash-input {
    height: 30px;
    width: 80%;
    border: 5px solid white;
    padding: 0px 5px;
    font-family: monospace;
  }

  .search-btn {
    width: 15%;
    height: 40px;
    border: 5px solid white;
    padding: 0px;
    font-family: monospace;
  }
}

.main-block-div {
  display: flex;
  padding-top: 50px;
  width: 70%;
  height: auto;
  margin: 0 auto;
  justify-content: space-between;
}

.main-block-div .block-info-div {
  width: 45%;
  border: 5px solid;

  .block-infos {
    padding: 5px 10px 5px 10px;
    font-size: large;
    text-align: start;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.main-block-div .block-transactions {
  width: 50%;
  border: 5px solid;

  .transactions-infos {
    padding: 5px 10px 5px 10px;
    font-size: large;
    text-align: start;
  }

  .transactions-list {
    overflow-y: scroll;
    max-height: 60vh;

    padding: 5px 10px 5px 10px;
    text-align: start;
    

    .transaction-data {
      border: 3px solid;
      margin: 10px 5px;
      padding: 5px;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      >p {
        margin: 0;
      }
    }
  }
}