.app {
  padding: 2rem;
}

.search-div {
  display: block;
  width: 70%;
  height: 30px;
  margin: 0 auto;

  .hash-input,
  .search-btn {
    width: 100%;
    height: 50px;
    border: 5px solid white;
    margin-bottom: 1rem;
  }
}

.main-block-div {
  display: block;
  padding-top: 50px;
  width: 70%;
  height: auto;
  margin: 4rem auto;
  
  .block-info-div {
    width: 100%;
    border: 5px solid;
    margin-bottom: 1rem;
    padding: 0.5rem;
  
    .block-data-container {
      display: flex;
      flex-wrap: wrap;
  
      .block-infos {
        display: flex;
        flex-direction: column;
        min-width: 0;
        padding: 5px 10px 5px 10px;
        font-size: large;
        text-align: start;
    
        >p {
          word-break: break-all;
          overflow-wrap: anywhere;
          margin: 10px 0 0;
        }
      }
  
      .block-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
  
        >img {
          width: 30%;
        }
      }
    }
  };

  .block-transactions {
    width: 100%;
    border: 5px solid;
    padding: 0.5rem;
  
    .transactions-infos {
      padding: 5px 10px 5px 10px;
      font-size: large;
      text-align: start;
    }
  
    .transactions-list {
      overflow-y: scroll;
      max-height: 60vh;
  
      padding: 5px 10px 5px 10px;
      text-align: start;
      
  
      .transaction-data {
        border: 3px solid;
        margin: 10px 5px;
        padding: 5px;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
  
        >p {
          margin: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .search-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-block-div {
    display: flex;
    justify-content: space-between;

    .block-info-div {
      width: 45%;
    }

    .block-transactions {
      width: 50%;
    }
  }
}
