#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-block-div {
  display: flex;
  padding-top: 50px;
  width: 70%;
  height: auto;
  margin: 0 auto;
  justify-content: space-between;
}

.main-block-div .block-info-div {
  width: 45%;
  border: 5px solid;

  .block-infos {
    padding: 5px 10px 5px 10px;
    font-size: large;
    text-align: start;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.main-block-div .block-transactions {
  width: 50%;
  border: 5px solid;
}